<div id="footer-spacing"><pre>   <br></pre></div> <!-- close footer-margin -->
      <footer class="footer container-fluid text-center">
        <div  class="row"> <!-- two columns -->
          
          <div class="col-md-6">
            © 2023 by Cebrin Billings.<br> Design inspired by <a href="https://www.wix.com/website-template/view/html/2622?siteId=7e761c3c-729b-4d4e-9dc3-a8242c486f56&metaSiteId=3f62d478-a066-43ee-98e6-3e48600ff893&originUrl=https%3A%2F%2Fwww.wix.com%2Fwebsite%2Ftemplates%2Fhtml%2Fportfolio-cv%2Fpersonal&tpClick=view_button">Maya Nelson</a>.
          </div> <!-- close left column -->
          
          <div class="col-md-6">
            <div class="row">
              
              <div class="col-md-4">
                 
              </div> <!-- close left minifooter-->
              
              <div class="col-md-4">
                <span>Write<p><a href="mailto:Cebrin@byui.edu" id="email">Cebrin@byui.edu</a></p></span>
              </div> <!-- close center minifooter -->
              
              <div class="col-md-4">
                <span>Follow<p id="follow">
                  <a href="github.com/CebrinB"><i class="fab fa-github-alt"></i></a>
                  <a href="https://stackoverflow.com/users/10766004/cebrin-billings"><i class="fab fa-stack-overflow"></i></a>
                  <a href="https://linkedin.com/in/cebrinbillings"><i class="fab fa-linkedin-in"></i></a>
                </span>
                </div> <!-- close right minifooter -->
            </div> <!-- close row -->
          </div> <!-- close right column -->
          
        </div>
      </footer>