<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="/"><h3 id="brand">kirjasto.ni</h3></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" id="home"><a class="nav-link">Home</a></li>
      <li class="nav-item viewLibrary"><a class="nav-link">My Library</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item"><a class="nav-link d-none" id="user"><i class="fas fa-sign-in-alt"></i> Login    <i class="fas fa-lemon"></i></a></li>
    </ul>
  </div>
</nav>