<div class="card card-body">
  <div>Add books to <span></span> bookshelf</div>
  <div><a>Search</a><a>Manual Entry</a></div>
  <div class="d-none" id="search">
    <div>Select a search method:</div>
    <div><button>ISBN</button><button>Keywords (Titles, Authors...)</button></div>
    <div class="" id="isbn">
      <input class="form-control mr-sm-2" type="search" placeholder="ISBN - Adds item immediately" aria-label="Enter ISBN">
      <button>Add Book</button>
    </div>
    <div class="d-none" id="keywords">
      <input class="form-control mr-sm-2 d-none" type="search" placeholder="Keywords (Titles, Authors...)" aria-label="Search">
      <button>Search for Book</button>
    </div>
    <div class="d-none" id="searchresults"></div>
  </div>

  <div class="" id="manualentry">
    <input class="form-control mr-sm-2" type="text" placeholder="Title" aria-label="Title">
    <input class="form-control mr-sm-2" type="text" placeholder="Author(s)" aria-label="Author(s)">
    <input class="form-control mr-sm-2" type="text" placeholder="Publisher" aria-label="Publisher">
    <button>Add Book</button>
  </div>
</div>