<div class="alphabet d-flex justify-content-between">
  <a class="letter">All</a>
  <a class="letter">A</a>
  <a class="letter">B</a>
  <a class="letter">C</a>
  <a class="letter">D</a>
  <a class="letter">E</a>
  <a class="letter">F</a>
  <a class="letter">G</a>
  <a class="letter">H</a>
  <a class="letter">I</a>
  <a class="letter">J</a>
  <a class="letter">K</a>
  <a class="letter">L</a>
  <a class="letter">M</a>
  <a class="letter">N</a>
  <a class="letter">O</a>
  <a class="letter">P</a>
  <a class="letter">Q</a>
  <a class="letter">R</a>
  <a class="letter">S</a>
  <a class="letter">T</a>
  <a class="letter">U</a>
  <a class="letter">V</a>
  <a class="letter">W</a>
  <a class="letter">X</a>
  <a class="letter">Y</a>
  <a class="letter">Z</a>
  <a class="letter">#</a>
</div>
<div id="bookshelf" class="text-center">No Results</div> <!-- filled dynamically from javascript -->