<div class="card bg-light" style="padding: 1rem;">
  <h1>Please sign in</h1>
  <div class="card-body">
    <label for="username" class="sr-only">Username:</label>
    <input class="form-control" name="username" id="username" type="text" placeholder="Username" required autofocus><br>
    <label for="password" class="sr-only">Password:</label>
    <input class="form-control" name="password" id="password" type="password" placeholder="Password" required><br>
    <button class="btn btn-lg btn-block" id="signin">Sign In</button>
    <div id="serverResponse"></div>
  </div>
  <div >Don't have an account?<br><a class="nav-item" id="signup">Sign up today!</a></div>
</div>