<div class="card bg-light">
  <h1>Create an Account</h1>
  <div class="card-body">
    <label for="username" class="sr-only">Username:</label><br>
    <input class="form-control" name="username" id="username" type="text" placeholder="Username" required autofocus><br>
    <label for="password" class="sr-only">Password:</label><br>
    <input class="form-control" name="password" id="password" type="password" placeholder="Password" required><br>
    <button class="btn btn-lg btn-block" id="createAccount">Create Account</button>
    <div id="serverResponse"></div>
  </div>
</div>